:root {
  font-size: 16px;
  --dark-neutral-color: #666264;
  --light-neutral-color: #8e8e8e;
  --light-grey: #d8d8d8;
  --accent-color: #8c4540;
  --notepad-color: lightgoldenrodyellow;

  --main-font: "Muli", sans-serif;
  --accent-font: "Poppins", sans-serif;

  --large-heading-size: 2.5rem;
  --summary-font-size: 1.3rem;
  --p-line-height: 2.1rem;
  --ul-line-height: 1.5rem;

  --li-margin: 0.7rem;
  --tiny: 1rem;
  --small-med: 1.2rem;
  --smaller: 1.25rem;
  --medium: 1.8rem;
  --large: 3.5rem;
  --x-large: 6rem;

  --notepad-padding: 2rem 3rem;
}

button:focus {
  outline: none;
}

html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  font-family: var(--main-font);
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--accent-font), serif;
  font-weight: 600;
}

a {
  color: var(--accent-color);
}

a:hover {
  color: #b73c3c;
}

section {
  min-height: 100vh;
  width: 100%;
}

.page {
  color: #3b3b3b;
  /* padding: 40px; */
  /* margin: 30px; */
}

a,
a:hover {
  text-decoration: none;
}

i {
  padding-right: 1rem;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 120px 60px 100px; */
  min-height: calc(100vh);
  /* min-height: 100vh; */
  /* background-image: url("./images/gallery/main/truck-exterior-rear.png");
  background-size: cover;
  background-repeat: no-repeat; */
  /* background-position: center center; */
}

#info {
  padding-top: 70px;
}

.flexbox {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ma-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: var(--x-large);
}

.ma-links img {
  height: 100px;
}

.landing-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.inputBox {
  width: 100%;
  background-color: var(--light-grey);
  border: none;
  border-radius: 10px;
  padding: 20px;
  text-decoration-color: white;
  color: #333;
}

.intro-image {
  max-width: 85%; /* fixes gallery overflow problem */
  min-width: 300px;
  width: 100%;
  border-radius: 10px;
}

.a-shadow {
  -webkit-box-shadow: -20px 22px 44px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -20px 22px 44px -18px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 22px 44px -18px rgba(0, 0, 0, 0.75);
}

.welcome-top {
  display: none;
}

.welcome-text {
  font-size: var(--small-med);
  margin-bottom: var(--tiny);
  line-height: var(--p-line-height);
}

.subsection-nav-links {
  font-family: var(--accent-font);
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.up-arrow {
  margin-left: 50px;
}
.brick-wall {
  background-color: var(--dark-neutral-color);
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png"),
    linear-gradient(#525252 80%, #39373a);
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 10px 35px;
  justify-content: space-between;
  max-height: 68px;
  top: 0;
  transition: top 0.5s, max-height 0.5s;
  overflow: hidden;
  z-index: 10;
}

.nav-left {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  color: #000;
  font-family: var(--accent-font);
  font-weight: 600;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  margin-left: 50px;
  font-family: var(--accent-font);
  color: #fff;
  transition: 1s;
}

.navbar-dark .navbar-nav.nav-info-links .nav-link {
  color: #d8d8d8;
}

.navbar-dark .navbar-nav.nav-action-links .nav-link {
  color: #fff;
}

.nav-info-links {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 5;
  font-size: 17px;
  font-weight: 400;
}

.nav-action-links {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 2;
  font-weight: 600;
}

.nav-action-links a {
  font-family: var(--accent-font);
}

.margin-bottom {
  margin-bottom: 25px;
}

.section-heading {
  font-size: var(--large-heading-size);
  text-align: center;
  margin-bottom: var(--large);
}

::placeholder {
  /* color: #e5d0c8; */
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: light-grey;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: light-grey;
}

.top-content {
  width: 100%;
  align-items: center;
}

.left-container {
  margin-top: var(--large);
}

.left-container .nav-link {
  font-family: var(--accent-font);
  font-size: 1.3em;
  padding: 0;
  margin-top: var(--large);
  font-weight: 600;
}

.section-content {
  justify-content: center;
  align-items: center;
}

.home-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.warm-gradient {
  background: rgb(153, 51, 51);
  background: linear-gradient(
    0deg,
    rgba(153, 51, 51, 1) 10%,
    rgba(239, 115, 76, 1) 40%,
    rgba(236, 160, 83, 1) 81%
  );
}

.red {
  color: #a5282e;
}

.dark-red {
  color: #54141d;
}

.hidden {
  display: none;
}

.section-description p {
  margin-bottom: var(--medium);
}

.section-details {
  background-color: var(--notepad-color);
  color: #333;
  border-radius: 10px;
  padding: var(--notepad-padding);
  margin: 70px;
  line-height: 1.5rem;
  font-weight: 400;
}

.section-details-label {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: var(--medium);
}

.section-details ul {
  margin-bottom: 0;
}

/* .section-details li {
  margin-bottom: 10px;
} */

.section-link {
  font-size: 1.4em;
}

.subsection-link {
  font-size: 1.2em;
  padding-left: 20px;
}

.option-container {
  padding: 25px 30px 20px;
  margin: 15px 0;
  cursor: pointer;
  border-radius: 15px;
  max-width: calc(100vw - 30px);
  color: white;
}

.pricing-item.active .pricing-item {
  font-size: 1.04em;
}

.pricing-item-category {
  font-weight: 600;
}

.pricing-item-description {
  font-weight: 400;
}

.pricing-item-description li,
.section-details li {
  margin-bottom: var(--li-margin);
}

.pricing-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--small-med);
  margin-top: 5rem;
  align-items: center;
}

.pricing-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-grey);
  padding: 20px 10px 10px;
  width: 100%;
}

.pricing-item.active {
  background-color: var(--notepad-color);
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.15);
}

.pricing-details {
  background-color: var(--notepad-color);
  padding: 4rem var(--notepad-padding);
  position: relative;
  box-shadow: -0.1rem 0.8rem 0.8rem rgba(0, 0, 0, 0.15);
}

.option-container .show-button {
  display: inline;
}

.option-label {
  display: flex;
  justify-content: space-between;
}

.check-mark {
  font-size: 1.9em;
  background-color: #fff;
  color: #e09648;
}

.add-remove-button {
  border-radius: 50%;
  text-align: center;
  padding: 0 0.8rem 0.1rem;
  width: 50px;
  height: 50px;
  margin: 0 0.5rem;
  border: 1px solid white;
  font-size: 1.9em;
}

.required {
  cursor: default;
}

.required-checkbox {
  border-radius: 50%;
  text-align: center;
  padding: 0 0.8rem 0.1rem;
  width: 50px;
  height: 50px;
}

.required:hover {
  background-color: #e09648;
}

.add-remove-button.remove {
  background-color: #fff;
  color: #e09648;
}

.add-remove-button.remove:hover {
  background-color: #969696;
  color: #fff;
}

.add-remove-button.add:hover {
  background-color: #eca053;
}

.price-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  font-size: 1.4em;
  margin-bottom: 20px;
}

hr {
  border-color: #e4e4e4;
  margin: 28px 0 40px;
}

.expanded-price-info p {
  margin-bottom: 15px;
}

.gold-orange-bg {
  background: rgb(239, 115, 76);
  background: linear-gradient(
    0deg,
    rgba(239, 115, 76, 1) 0%,
    rgba(236, 160, 83, 1) 70%
  );
}

.orange-bg {
  background-color: #ef734cfa;
}

.gold-bg {
  background-color: #eca053;
}

.pointer {
  cursor: pointer;
}

.textShadow {
  text-shadow: -1px 1px grey;
}

.section {
  padding: 50px 0 100px;
  width: 100%;
}

/* .pricing-summary-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
} */

.pricing-section {
  max-width: 800px;
  padding-bottom: 50px;
}

.pricing-section > h4,
.pricing-section > h2 {
  margin: 30px 0 50px 0;
  /* color: #c3c3c3; */
}

.clickable:hover {
  color: green;
  font-size: 1.05em;
}

.truckInfo {
  margin-bottom: 25px;
}

.section-wrapper {
  padding: 25px 0 210px;
}

div.section-wrapper:last-of-type {
  padding-bottom: 150px;
}

/* .section-wrapper h1 {
  margin: 35px 0 20px;
} */

.right {
  display: none;
}

.email {
  margin: 20px auto 40px;
  width: fit-content;
}

.contact-form.hide {
  display: none;
}

.contact-form button {
  margin: 0 auto;
  max-width: 40%;
}

.contact-item {
  text-align: center;
  margin: var(--medium) 0;
}

.end-message {
  margin: 50px 0 30px;
  font-size: 1.75em;
  text-align: center;
}

.end-message.success {
  color: green;
}

.end-message.error {
  color: red;
}

textarea:focus {
  animation: none !important;
}

footer {
  background-color: black;
  color: #b9a4de;
}

footer a {
  color: white;
}

.slick-dots {
  position: static;
}

.slick-prev {
  left: 10%;
  padding: 10px;
}

.slick-next {
  right: 10%;
}

.slider-image {
  margin: 0 auto;
  max-height: 68vh;
  object-fit: contain;
  /* width: 100%; */
  max-width: 75%;
}

.thumb-slider-image {
  margin: 0 auto;
  height: 10vh;
  object-fit: contain;
}

/* for smaller screens */
@media (max-width: 600px) {
  /* #home {
    padding: 15px;
    height: auto;
  }

  #home img {
    display: block;
  } */

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  .section {
    padding-left: var(--small);
    padding-right: var(--small);
  }

  .landing-head {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-section {
    margin: 0 15px;
  }

  .truckInfo {
    margin: 0 15px 25px;
  }
}

/* Flexbox MEDIUM breakpoint */
/* styling for medium and smaller screens */
@media (max-width: 767px) {
  :root {
    font-size: 14px;
  }

  #home {
    margin-top: 120px;
  }

  .top-content {
    flex-direction: column-reverse;
  }

  .section {
    padding-left: var(--large);
    padding-right: var(--large);
  }

  .section-details {
    margin: 30px 0 0 0;
    padding: var(--notepad-padding);
  }

  .section-info {
    margin-top: 50px;
    font-size: 1.2rem;
  }

  .remove-bootstrap-container-padding {
    padding-left: 0;
    padding-right: 0;
    /* margin-left: 0;
    margin-right: 0; */
  }

  .pricing-item {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 4%;
    margin-bottom: 2%;
    height: 6rem;
    border-radius: 5px;

    /* -webkit-box-shadow: -20px 22px 44px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -20px 22px 44px -18px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 22px 44px -18px rgba(0, 0, 0, 0.75); */

    background: rgb(184, 184, 184);
    background: linear-gradient(
      0deg,
      rgba(195, 195, 195, 1) 0%,
      rgba(216, 216, 216, 1) 100%
    );
    transition: width 0.3s;
  }

  .pricing-item.active {
    width: 102%;
    font-size: 1.1em;
    background: rgb(242, 242, 207);
    background: linear-gradient(
      0deg,
      rgba(242, 242, 207, 1) 0%,
      rgba(255, 255, 222, 1) 100%
    );
    padding-left: 6%;
    padding-right: 6%;
  }

  .pricing-item-category {
    margin-bottom: 3px;
  }

  .pricing-item-info {
    margin-left: 5%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .add {
    margin-left: 3%;
  }

  .pricing-details {
    background-color: transparent;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
  }
}

/* specific large screen styling */
@media (min-width: 768px) {
  #home {
    padding-top: 8rem;
  }
  /* padding: 120px 60px 100px; */

  .section {
    padding: var(--large);
  }

  .welcome-top {
    display: block;
  }

  .welcome-left {
    display: none;
  }

  .pricing-items {
    flex-direction: row;
  }

  .pricing-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-height: 200px;
    width: calc(100% / 4);
    padding: 20px 10px 10px;
    /* margin: 7px 7px 0; */
  }

  /* .price-and-button {
    flex-direction: column;
  } */

  .pricing-item-category {
    font-weight: 600;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .price {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .nav-action-links {
    margin-right: -18px;
  }
}

@media (max-width: 991px) {
  .nav-right {
    margin: 1em 0 1em 57px;
  }
}

@media (min-width: 1215px) {
  :root {
    font-size: 18px;
  }

  .section {
    padding-left: var(--x-large);
    padding-right: var(--x-large);
  }

  .welcome-top {
    display: none;
  }

  .welcome-left {
    display: block;
  }

  #home {
    padding-top: var(--large);
  }
}
@media (min-width: 1400px) {
  :root {
    font-size: 20px;
  }
}

/* phone size screens */
@media (max-width: 479px) {
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
  .section {
    /* margin-left: 1rem;
    margin-right: 1rem; */
  }
}
