@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600,800|Muli:200,400,600,800&display=swap");

:root {
  --dark-neutral-color: #666264;
  --light-neutral-color: #8e8e8e;
  --main-font: "Muli", sans-serif;
  --accent-font: "Poppins", sans-serif;
  --details-font: "Roboto", serif;
  --large-heading-size: 40px;
}

button:focus {
  outline: none;
}

html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--accent-font), serif;
  font-weight: 600;
}

a {
  color: #8c4540;
}

a:hover {
  color: #b73c3c;
}

section {
  min-height: 100vh;
  width: 100%;
}

.page {
  color: #3b3b3b;
  /* padding: 40px; */
  /* margin: 30px; */
}

a,
a:hover {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 120px 60px 100px;
  min-height: calc(100vh + 76px);
}

#info {
  padding-top: 70px;
}

.flexbox {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ma-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.ma-links img {
  height: 100px;
}

.landing-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.inputBox {
  width: 100%;
  background-color: #ab666a;
  border: none;
  border-radius: 10px;
  padding: 20px;
  text-decoration-color: white;
  color: white;
}

.intro-image {
  max-width: 700px;
  min-width: 300px;
  width: 100%;
  border-radius: 10px;
}

.a-shadow {
  -webkit-box-shadow: -20px 22px 44px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -20px 22px 44px -18px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 22px 44px -18px rgba(0, 0, 0, 0.75);
}

.welcome-text {
  font-size: 22px;
  margin-bottom: 1rem;
}

.subsection-nav-links {
  font-family: var(--accent-font);
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* 
.down-arrow {
  font-size: 2em;
} */
.up-arrow {
  margin-left: 50px;
}
.brick-wall {
  background-color: var(--dark-neutral-color);
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png"),
    linear-gradient(#525252 80%, #39373a);
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 10px 35px;
  justify-content: space-between;
  max-height: 72px;
  top: 0;
  transition: top 0.5s, max-height 0.5s;
  overflow: hidden;
  z-index: 10;
}

.nav-left {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  color: #000;
  font-family: var(--accent-font);
  font-weight: 600;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  margin-left: 50px;
  font-family: var(--accent-font);
  color: #fff;
  transition: 1s;
}

.navbar-dark .navbar-nav.nav-info-links .nav-link {
  color: lightgrey;
}

.navbar-dark .navbar-nav.nav-action-links .nav-link {
  color: #fff;
}

.nav-info-links {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 5;
  font-size: 17px;
}

.nav-action-links {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 2;
  font-size: 18px;
}

.nav-action-links a {
  font-family: var(--accent-font);
}

.margin-bottom {
  margin-bottom: 25px;
}

.larger-font {
  font-size: 1.5em;
}

::placeholder {
  color: #e5d0c8;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: light-grey;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: light-grey;
}

.top-content {
  align-items: center;
}

.left-container .nav-link {
  font-family: var(--accent-font);
  font-size: 1.3em;
  padding: 0;
  margin-top: 40px;
  font-weight: 600;
}

.small-image {
  display: none;
}

.section-label {
  text-align: center;
  font-size: var(--large-heading-size);
  margin-bottom: 30px;
}

.section-content {
  justify-content: center;
  align-items: center;
}

.section-description {
  font-weight: 400;
  line-height: 31px;
}

.home-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.city {
  font-size: 17px;
  font-weight: 200;
  margin: 1.8em 0;
}

.warm-gradient {
  background: rgb(153, 51, 51);
  background: linear-gradient(
    0deg,
    rgba(153, 51, 51, 1) 10%,
    rgba(239, 115, 76, 1) 40%,
    rgba(236, 160, 83, 1) 81%
  );
}

.red {
  color: #a5282e;
}

.dark-red {
  color: #54141d;
}

.hidden {
  display: none;
}

.logo {
  width: 50px;
}

.section-details {
  background-color: lightgoldenrodyellow;
  color: #333;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 70px;
  line-height: 1.5rem;
  font-weight: 400;
}

.section-details-label {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-details ul {
  margin-bottom: 0;
}

.section-details li {
  margin-bottom: 10px;
}

.section-link {
  font-size: 1.4em;
}

.subsection-link {
  font-size: 1.2em;
  padding-left: 20px;
}

.option-container {
  padding: 25px 30px 20px;
  margin: 15px 0;
  cursor: pointer;
  border-radius: 15px;
  max-width: calc(100vw - 30px);
  color: white;
}

.option-container.not-selected {
  width: 90%;
}

.option-container.selected {
  width: 100%;
  background-color: #8c4540;
}

.pricing-items {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin: 0 auto;
}

.pricing-item {
  display: flex;
  width: calc(100% / 4);
  /* width: 100px; */
  padding: 10px;
}

.pricing-details {
  margin-top: 65px;
}

.pricing-summary {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option-container .show-button {
  display: inline;
}

.option-container.selected + .option-container.not-selected .hello {
  display: inline;
}

.option-container.selected a {
  color: #717171;
}

.option-container.selected a:hover {
  color: #7f7f7f;
}

.option-container.not-selected a {
  color: #ffad35;
}

.option-container.not-selected a:hover {
  color: #ffbc59;
}

.not-selected {
  background-color: #969696;
  cursor: pointer;
}

.not-selected:hover .add-button {
  background-color: #eca053;
}

.not-selected:hover {
  background-color: #a9a6a6;
}

.not-selected:hover .add-remove-button {
  background-color: #969696;
}

.not-selected .add-button {
  background-color: #eabd8e;
}

.selected {
  background-color: #e09648;
}

.selected:hover {
  background-color: #e09e58;
}

.option-label {
  display: flex;
  justify-content: space-between;
}

.check-mark {
  font-size: 1.9em;
  background-color: #fff;
  color: #e09648;
}

.add-remove-button {
  border-radius: 50%;
  text-align: center;
  padding: 0 0.8rem 0.1rem;
  width: 50px;
  height: 50px;
  margin: 0 0.5rem;
  border: 1px solid white;
  font-size: 1.9em;
}

.required {
  cursor: default;
}

.required-checkbox {
  border-radius: 50%;
  text-align: center;
  padding: 0 0.8rem 0.1rem;
  width: 50px;
  height: 50px;
}

.required:hover {
  background-color: #e09648;
}

.add-remove-button.remove {
  background-color: #fff;
  color: #e09648;
}

.add-remove-button.remove:hover {
  background-color: #969696;
  color: #fff;
}

.add-remove-button.add:hover {
  background-color: #eca053;
}

.price-container {
  text-align: center;
}

.price-label {
  font-weight: 400;
}

.price {
  /* font-weight: 600;  */
}

.price-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  font-size: 1.4em;
  margin-bottom: 20px;
}

hr {
  border-color: #e4e4e4;
  margin: 28px 0 40px;
}

.option-container.required .expanded-price-info {
  display: none;
}

.expanded-price-info p {
  margin-bottom: 15px;
}

.gold-orange-bg {
  background: rgb(239, 115, 76);
  background: linear-gradient(
    0deg,
    rgba(239, 115, 76, 1) 0%,
    rgba(236, 160, 83, 1) 70%
  );
}

.orange-bg {
  background-color: #ef734cfa;
}

.gold-bg {
  background-color: #eca053;
}

.pointer {
  cursor: pointer;
}

.textShadow {
  text-shadow: -1px 1px grey;
}

.section {
  padding: 50px 60px 100px;
}

.pricing-section {
  max-width: 800px;
  padding-bottom: 50px;
}

.pricing-section > h4,
.pricing-section > h2 {
  margin: 30px 0 50px 0;
  /* color: #c3c3c3; */
}

.truckInfo {
  margin-bottom: 25px;
}

.section-wrapper {
  padding: 25px 0 210px;
}

div.section-wrapper:last-of-type {
  padding-bottom: 150px;
}

/* .section-wrapper h1 {
  margin: 35px 0 20px;
} */

.right {
  display: none;
}

.email {
  margin: 20px auto 40px;
  width: fit-content;
}

.contact-form.hide {
  display: none;
}

.contact {
  text-align: center;
  margin: 0 auto 15px;
  color: #c3c3c3;
}

.end-message {
  margin: 50px 0 30px;
  font-size: 1.75em;
}

textarea:focus {
  animation: none !important;
}

footer {
  background-color: black;
  color: #b9a4de;
}

footer a {
  color: white;
}

.slick-dots {
  position: static;
}

.slick-prev {
  left: 10%;
  padding: 10px;
}

.slick-next {
  right: 10%;
}

.slider-image {
  margin: 0 auto;
  max-height: 68vh;
  object-fit: contain;
  /* width: 100%; */
}

.thumb-slider-image {
  margin: 0 auto;
  height: 10vh;
  object-fit: contain;
}

/* for smaller screens */
@media (max-width: 600px) {
  /* #home {
    padding: 15px;
    height: auto;
  }

  #home img {
    display: block;
  } */

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  .landing-head {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-head {
    font-size: var(--large-heading-size);
  }

  p {
    font-size: 1.1em;
  }

  .info-section {
    margin: 0 15px;
  }

  .larger-font {
    font-size: 1.3em;
  }

  .truckInfo {
    margin: 0 15px 25px;
  }
}

@media (max-width: 459px) {
  .larger-font {
    font-size: 1.1em;
  }
}

@media (max-width: 389px) {
  .larger-font {
    font-size: 1em;
  }
}

/* Flexbox MD breakpoint */
@media (max-width: 767px) {
  .section {
    padding-left: 25px;
    padding-right: 25px;
  }

  .section-details {
    margin: 30px 0 0 0;
  }

  .section-info {
    margin-top: 50px;
    padding-left: -15px;
    padding-right: -15px;
  }

  .large-image {
    display: none;
  }

  .small-image {
    display: block;
    margin: 30px 0 50px;
  }
}

@media (min-width: 992px) {
  .nav-action-links {
    margin-right: -18px;
  }
}

@media (max-width: 991px) {
  .nav-right {
    margin-left: 67px;
  }
}
